<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krry.mapper.AdminMapper" >
	
	<!-- 通用sql -->
	<sql id="blog_column">
		b.title,
		b.content_md,
		b.content_hm,
		b.description,
		b.imageName,
		b.image,
		b.classifyId,
		b.label,
		b.hit,
		b.comment,
		b.createTime,
		b.updateTime,
		b.status,
		b.isDelete
	</sql>
	
	
	<!-- 根据用户名查询 -->
	<select id="getUserByName" resultType="User" parameterType="User">
		select
			name,
			password
		from
			user
		where name = #{name}
	</select>
	
	
	<!-- 获取相关链接/关于 -->
	<select id="getLinkOrAbout" resultType="Blog">
		select
			b.id,
			c.name as classify,
			<include refid="blog_column"></include>
		from
			blog b
		left join
			classify c
		on
			b.classifyId = c.id
		where b.title = #{title}
	</select>
	
	
	<!-- 分页查询所有博客（发布和未发布） -->
	<select id="getBlog" resultType="Blog">
		select
			b.id,
			c.name as classify,
			<include refid="blog_column"></include>
		from
			blog b
		left join
			classify c
		on
			b.classifyId = c.id
		where
			isDelete = 0
		order by
 			id desc
	</select>
	
	
	<!-- 查询所有博客总数（发布和未发布） -->
	<select id="getBlogCount" resultType="int">
		select
			count(*)
		from
			blog
		where
			isDelete = 0
	</select>
	
</mapper>


