<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krry.mapper.BlogMapper" >
	
	<!-- 通用sql -->
	<sql id="blog_column">
		b.title,
		b.content_md,
		b.content_hm,
		b.description,
		b.image,
		b.classifyId,
		b.label,
		b.hit,
		b.comment,
		b.createTime,
		b.updateTime,
		b.status
	</sql>
	
	<!-- 查询博客 -->
	<!-- 注意这里的 resultType 返回值类型是集合内存储数据的类型Blog，不是 'list' -->
	<select id="getBlog" resultType="Blog">
		select
			b.id,
			c.name as classify,
			<include refid="blog_column"></include>
		from
			blog b
		left join
			classify c
		on
			b.classifyId = c.id
	</select>
	
	<!-- 查询所有博客总数 -->
	<select id="getBlogCount" resultType="int">
		select
			count(*)
		from
			blog
	</select>
	
	<!-- 获取博客详情页 -->
	<select id="getBlogDetail" resultType="Blog">
		select
			b.id,
			c.name as classify,
			<include refid="blog_column"></include>
		from
			blog b
		left join
			classify c
		on
			b.classifyId = c.id
		where b.id = #{id}
	</select>
	
	<!-- 查询博客的分类 -->
	<select id="getClassify" resultType="Classify">
		SELECT
			id,
			name
		FROM
			classify
	</select>
	
	<!-- 新增 -->
	<insert id="addBlog" useGeneratedKeys="true" keyProperty="id" parameterType="Blog">  
	    insert into blog(
	    	title,
			content_md,
			content_hm,
			description,
			image,
			classifyId,
			label,
			hit,
			comment,
			createTime,
			updateTime,
			status
	    )
	    values(
	    	#{title},
			#{content_md},
			#{content_hm},
			#{description},
			#{image},
			#{classifyId},
			#{label},
			#{hit},
			#{comment},
			#{createTime},
			#{updateTime},
			#{status}
	    )
	</insert>  
	
</mapper>
