<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krry.mapper.PartMapper" >
	
	<!-- 通用sql -->
	<sql id="blog_column">
		b.userId,
		b.title,
		b.description,
		b.imageName,
		b.image,
		b.classifyId,
		b.label,
		b.hit,
		b.comment,
		b.createTime,
		b.updateTime,
		b.status,
		b.isDelete
	</sql>
	
	<!-- 根据标签查询已发布的博客 -->
	<select id="getBlogByTag" resultType="Blog" parameterType="Params">
		select
			b.id,
			u.name as userName,
			c.name as classify,
			<include refid="blog_column"></include>
		from
			blog b
		left join
			user u
		on
			b.userId = u.id
		left join
			classify c
		on
			b.classifyId = c.id
		where
			b.status = 1
		and
			b.isDelete = 0
		and
			b.label regexp '^${tag}$|^${tag},|,${tag}$|,${tag},'
		order by
 			b.id desc
	</select>
	
	<!-- 根据标签查询已发布的博客总数 -->
	<select id="getTagBlogCount" resultType="int" parameterType="Params">
		select
			count(*)
		from
			blog
		where
			status = 1
		and
			isDelete = 0
		and
			label regexp '^${tag}$|^${tag},|,${tag}$|,${tag},'
	</select>
	
	
	<!-- 搜索已发布的博客 -->
	<select id="getBlogBykeyword" resultType="Blog" parameterType="Params">
		select
			b.id,
			u.name as userName,
			c.name as classify,
			<include refid="blog_column"></include>
		from
			blog b
		left join
			user u
		on
			b.userId = u.id
		left join
			classify c
		on
			b.classifyId = c.id
		where
			b.status = 1
		and
			b.isDelete = 0
		and(
			b.title LIKE '%${keyword}%'
			or b.description like '%${keyword}%'
			or b.label like '%${keyword}%'
			or c.name like '%${keyword}%'
		)
		order by
 			b.id desc
	</select>
	
	<!-- 搜索已发布的博客总数 -->
	<select id="getKeyworkBlogCount" resultType="int" parameterType="Params">
		select
			count(*)
		from
			blog b
		left join
			classify c
		on
			b.classifyId = c.id
		where
			status = 1
		and
			isDelete = 0
		and(
			b.title LIKE '%${keyword}%'
			or b.description like '%${keyword}%'
			or b.label like '%${keyword}%'
			or c.name like '%${keyword}%'
		)
	</select>
	
	
</mapper>


